# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
#.env
#.env.local
#.env.*.local

# Build output
dist/
build/
tmp/
temp/
.cache/
.next/
out/
storybook-static/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# VSCode
.vscode/
*.code-workspace

# JetBrains IDE
.idea/

# Mac / Linux
.DS_Store
Thumbs.db

# Coverage
coverage/

# Sequelize migrations logs
migrations/*-journal.json
migrations/*.sqlite

# Local databases
*.sqlite
*.sqlite3
*.db
*.db3
*.sql

# Logs for PM2 or nodemon
pmlogs
nodemon-debug.log

# Custom
uploads/
.gitignore